<app-default-login-layout
    title="Sign in and start today!t"
    primaryBtnText="Confirmar"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Nome"
            placeholder="Zezinho"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Endereço de Email"
            placeholder="seu_email@email.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Password"
            placeholder="Digite sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        placeholder="Confirme sua Senha"

    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    </form>
</app-default-login-layout>
