<div class="flex flex-column gap-1" *ngIf="isFormVisible">
  <h1>Cadastro de Grupo de Perguntas</h1>

  <form [formGroup]="formGroup">
    <div class="flex flex-column gap-3 mb-4">
      <!-- Campo de Descrição -->
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="description" autoFocus required>
        <!-- Verificação de erro -->
        <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Campo de Perguntas com MatCheckbox -->
      <div formArrayName="questions_group_question">
        <div *ngFor="let question of questions; let i = index">
          <mat-checkbox [formControlName]="i">{{ question.description }}</mat-checkbox>
        </div>
        <mat-error *ngIf="formGroup.get('questions_group_question')?.hasError('required')">
          Selecione ao menos uma questão.
        </mat-error>
      </div>
    </div>

    <!-- Botão de Envio -->
    <button mat-flat-button class="btn-default" id="save" type="submit" (click)="saveOrUpdate()" [disabled]="!formGroup.valid">
      Salvar Grupo
    </button>
  </form>
</div>
