<div class="flex justify-content-center">
  <div class="flex flex-column shadow-3">
    <h4>Porfavor, coloque o seu nome</h4>
        <mat-form-field class="w-full">
          <mat-label>Sala</mat-label>
          <input type="text" matInput placeholder="enter name"/>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Nome</mat-label>
          <input type="text" matInput placeholder="enter name"/>
        </mat-form-field>
    <button mat-raised-button color="primary" class="w-6/12" (click)="join()" >OK</button>
  </div>
</div>
