<main>
    <section class="form-section">
        <img src="/assets/svg/placer-holder.png"/>
       <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button title="Clique para Login"
                    class="btn-primary"
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" title="Clique para Cadastrar"  (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <img src="/assets/svg/placer-holder.png"/>
    </section>
</main>
