<div class="quiz-container" *ngIf="quizData && questions.length > 0">
  <h1>{{ quizData.description }}</h1>

  <div class="question-container">
    <h3>{{ currentQuestion?.description }}</h3>

    <div class="options" *ngIf="currentQuestion?.options">
      <mat-radio-group
        [(ngModel)]="selectedOptions[currentQuestion.id]"
        (change)="onOptionSelected(currentQuestion.id, $event.value)"
      >
        <mat-radio-button
          *ngFor="let option of currentQuestion.options; let i = index"[value]="i">
          {{ option.description }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="navigation-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="previousQuestion()"
      [disabled]="currentQuestionIndex === 0"
    >
      Anterior
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="nextQuestion()"
      [disabled]="currentQuestionIndex === questions.length"
    >
      {{ currentQuestionIndex === questions.length - 1 ? 'Finalizar' : 'Próxima' }}
    </button>
  </div>
</div>
